In [1]:

import pandas as pd
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split
import numpy as np

In [17]:
# Load movie ratings data
ratings_df = pd.read_csv("~/Desktop/MovieLens-resources/ratings.csv")
movies_df = pd.read_csv("~/Desktop/MovieLens-resources/movies.csv")
#ratings_df = ratings_df.drop('timestamp', axis=1)

movies_df
ratings_df

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]

In [5]:
# Create a Reader object to specify the rating scale
reader = Reader(rating_scale=(0.5, 5.0))

In [6]:
# Load data into Surprise Dataset
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)

In [7]:
# Split data into training and testing sets
trainset, testset = train_test_split(data, test_size=0.2)

In [8]:
# Instantiate the SVD algorithm
algo = SVD()

In [9]:
# Train the SVD algorithm on the training set
algo.fit(trainset)

In [10]:
# Generate predictions on the testing set
predictions = algo.test(testset)

In [11]:
# Calculate RMSE (Root Mean Squared Error) to evaluate the model
accuracy.rmse(predictions)

RMSE: 0.7857

0.7856898416056701

In [12]:
# Predict a rating for user_id = 1 and movie_id = 1
user_id = 1
movie_id = 1
predicted_rating = algo.predict(user_id, movie_id)
print(predicted_rating.est)

4.203059272193956

In [13]:
# Predict a rating for user_id = 1 and movie_id = 356
user_id = 1
movie_id = 356
predicted_rating = algo.predict(user_id, movie_id)
print(predicted_rating.est)

4.722336420638406

In [14]:
# Predict a rating for user_id = 1 and movie_id = 3
user_id = 1
movie_id = 3
predicted_rating = algo.predict(user_id, movie_id)
print(predicted_rating.est)

3.751960116366502