In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("~/Desktop/MovieLens-resources/movies.csv")

ratings_df = pd.read_csv("~/Desktop/MovieLens-resources/ratings.csv")

In [3]:
ratings_df = ratings_df.loc[ratings_df['userId'] <= 1050]

In [4]:
ratings_df = ratings_df.drop('timestamp',axis=1)
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1      110     4.0
2            1      158     4.0
3            1      260     4.5
4            1      356     5.0
...        ...      ...     ...
100825    1050     5445     4.0
100826    1050     5899     3.0
100827    1050     5944     4.0
100828    1050     6184     2.0
100829    1050     6305     3.0

[100830 rows x 3 columns]