In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("Data/movies.csv")

ratings_df = pd.read_csv("Data/ratings.csv")

In [3]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
86532,288967,State of Siege: Temple Attack (2021),Action|Drama
86533,288971,Ouija Japan (2021),Action|Horror
86534,288975,The Men Who Made the Movies: Howard Hawks (1973),Documentary
86535,288977,Skinford: Death Sentence (2023),Crime|Thriller
86536,288983,UNZIPPED: An Autopsy of American Inequality (2...,Documentary

In [4]:
ratings_df

          userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]

In [5]:
ratings_per_movie = ratings_df.groupby('movieId')['rating'].count().reset_index()
ratings_per_movie.columns = ['movieId', 'ratings_count']
ratings_per_movie.head()

   movieId  ratings_count
0        1          76813
1        2          30209
2        3          15820
3        4           3028
4        5          15801

In [6]:
ratings_df = pd.merge(ratings_df, ratings_per_movie, on='movieId', how= 'inner')
ratings_df

          userId  movieId  rating   timestamp  ratings_count
0              1        1     4.0  1225734739          76813
1              2        1     5.0   835815971          76813
2              7        1     4.0   974518024          76813
3             10        1     3.0  1430666394          76813
4             12        1     5.0   862500738          76813
...          ...      ...     ...         ...            ...
33832157  330842   196133     0.5  1671069205              1
33832158  330852   217236     2.0  1594246738              1
33832159  330904   228179     4.5  1667167519              1
33832160  330904   261553     3.5  1667165898              1
33832161  330922   269782     0.5  1643801069              1

[33832162 rows x 5 columns]

In [10]:
ratings_df = ratings_df[ratings_df['ratings_count']>= 50000]
ratings_df

          userId  movieId  rating   timestamp  ratings_count
0              1        1     4.0  1225734739          76813
1              2        1     5.0   835815971          76813
2              7        1     4.0   974518024          76813
3             10        1     3.0  1430666394          76813
4             12        1     5.0   862500738          76813
...          ...      ...     ...         ...            ...
16055216  330949      608     4.0  1621955525          61977
16055217  330952      608     5.0   862690931          61977
16055218  330954      608     4.0   867041945          61977
16055219  330964      608     4.0  1649130836          61977
16055220  330975      608     2.0  1091583159          61977

[3159685 rows x 5 columns]

In [14]:
drop_columns = ratings_df.drop(columns=['timestamp','ratings_count'])
clean_ratings_over_50000 = drop_columns.sort_values(by='userId')

In [16]:
clean_ratings_over_50000.to_csv('clean_ratings.csv')

In [17]:
new_movies_df = movies_df[movies_df['movieId'].isin(clean_ratings_over_50000['movieId'])]
new_movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
46,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
49,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
108,110,Braveheart (1995),Action|Drama|War
148,150,Apollo 13 (1995),Adventure|Drama|IMAX
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
292,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
314,318,"Shawshank Redemption, The (1994)",Crime|Drama
351,356,Forrest Gump (1994),Comedy|Drama|Romance|War
359,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
375,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller
452,457,"Fugitive, The (1993)",Thriller
475,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
522,527,Schindler's List (1993),Drama|War
580,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
581,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi
582,590,Dances with Wolves (1990),Adventure|Drama|Western
584,592,Batman (1989),Action|Crime|Thriller
585,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
600,608,Fargo (1996),Comedy|Crime|Drama|Thriller
764,780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller
840,858,"Godfather, The (1972)",Crime|Drama
1166,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
1167,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
1168,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure
1179,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
1237,1270,Back to the Future (1985),Adventure|Comedy|Sci-Fi
1640,1704,Good Will Hunting (1997),Drama|Romance
1655,1721,Titanic (1997),Drama|Romance
1939,2028,Saving Private Ryan (1998),Action|Drama|War
2480,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
2670,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery
2766,2858,American Beauty (1999),Drama|Romance
2867,2959,Fight Club (1999),Action|Crime|Drama|Thriller
3480,3578,Gladiator (2000),Action|Adventure|Drama
4123,4226,Memento (2000),Mystery|Thriller
4202,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
4888,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
5841,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
6417,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
7029,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
12223,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
14939,79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX